# LLM
llm_server/__pycache__/

llm_server/llm/bert-supervisor/

# Ignorer les certificats TLS/SSL
# server/certs/

# Cache Python
server/security/__pycache__/

server/database/__pycache__/

server/__pycache__/

# Fichiers sensibles ou scripts locaux

# Logs
server/logs/*.log

server/logs/scripts/__pycache__/

# Database
server/data.db

# Copyright
# server/database/GeoLite2-City.mmdb

sensors/raspi/__pycache__