# Ignorer les certificats TLS/SSL
server/certs/

# Cache Python
server/__pycache__/

server/database/__pycache__/

server/llm/__pycache__/

# Fichiers sensibles ou scripts locaux
config/logs/

logs/

# Fichiers de lancement
server/launcher.sh

# Logs
server/logs/*.log

# Database
server/data.db

# Copyright
server/database/GeoLite2-City.mmdb